// -----------------------
// banner home
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.content-cc{
		
		.resaltado-txt{
			max-width: 710px;
		    margin: auto;
		    float: none;
		    background: $color_light_background;
		    box-sizing: border-box;
		    padding: 1rem 2rem;
		    border-left: 10px solid $color_brand_green;
		    
		    p{
			    font: 21px $font_myr_semibold;
			    font-style: italic;
			    line-height: 28px;
		    }
		    
		}
		
		.accordion-inner{
			.resaltado-txt{
				max-width: 710px;
			    margin: auto;
			    float: none;
			    background: $color_white;
			    box-sizing: border-box;
			    padding: 1rem 2rem;
			    border-left: 10px solid $color_brand_green;
			    
			    p{
				    font: 18px $font_myr_semibold;
				    font-style: italic;
				    line-height: 28px;
			    }
			    
			}
		}
		
	}
	
}