// -----------------------
// typography
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	font-family: $font_hel_light;
	font-size: $font_txt;
	color: $color_text;
	
	
	h1{
		font-family: $font_myr_light;
		font-size: $font_banner_titles;
		color: $color_white;
		
		@media (max-width: $breakpoint_3){
			font-size: 2.4em;
			line-height: 1em;
		}
		    font-weight: 100;
	}
	
	h2{
		font-family: $font_hel_light;
		display: block;
		color: $color_text !important;
		margin-bottom: .5rem;
		margin-left: 0;
		font-weight: 100;
	}
	
	h3{
		font-family: $font_hel_light;
		display: block;
		margin-bottom: .5rem;
		    font-weight: 100;
	}
	
	h4{
		font-family: $font_hel_light_italic;
		display: block;
		margin-bottom: .5rem;
		    font-weight: 100;
	}
	
	h5{
		font-family: $font_hel_light;
		display: block;
		margin-bottom: .5rem;
		    font-weight: 100;
	}
	
	h6{
		font-family: $font_hel_light;
		display: block;
		margin-bottom: .5rem;
		    font-weight: 100;
	}
	
	p{
		font-family: $font_hel_light_cond;
		font-size: $font_txt;
		color: $color_text;		
		max-width: 817px;
		margin: auto;
	}
	
}